<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h1>Datos del alumno</h1>
  </ion-text>
  <ion-item>
    <ion-label>Nombre de alumno:</ion-label>
    <ion-input placeholder="Ej: Joshua Ramirez" #nombre></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña:</ion-label>
    <ion-input type="password" placeholder="*****" #contraseña></ion-input>
  </ion-item>

  <br><br>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button  color="secondary" expand="block" fill="solid" shape="round">
          Ingresar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="6"  color="secondary" expand="block" fill="solid" shape="round">
          Recuperar contraseña
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>