<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ingresar"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer_Contrasena</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h1>Recuperar contraseña</h1>
  </ion-text>
  <ion-item>
    <ion-label>email:</ion-label>
    <ion-input placeholder="Ej: Joshua1234" #nombre></ion-input>
  </ion-item>
  <ion-button expand="block" color="success" shape="round">
    Ingresar
  </ion-button>


</ion-content>
